@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Revalia&family=Ruge+Boogie&display=swap');
:root{
    --gray_1: #C1C8E4;
    --purple_1: #8860D0;
    --white1: #FAFAFA;
    --white2: #F5F6FB;
    --green1: #45737f;
}

/*========Navbar========*/
.navbar{
    background-color: var(--white2);
}


.navbar-item{
    color:var(--purple_1);
    font-family: 'Revalia', cursive;
    font-family: 'Ruge Boogie', cursive;
    font-family: 'Merienda One', cursive;
    letter-spacing: 0.1rem;
}
/*========Section 1========*/

.section-1{
    background-color: var(--white2);
}
.quote{
    font-family: 'Revalia', cursive;
    font-family: 'Ruge Boogie', cursive;
    font-family: 'Merienda One', cursive;
}
/*========Section 2========*/

.section-2{
    background-color: var(--white2);
}


/*========Section 3========*/
.section-3{
    background-color: var(--purple_1);
}
.section-3 .columns {
    padding: 1rem;
}
.section-3 .column{
    text-align: center;
}
.section-3 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.stack-title{
    color: var(--white1);
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.tech-col-left{
    padding: 0.75rem;
    box-shadow: 1px 2px 5px   #888888;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-family: 'Varela Round', sans-serif;
    background-color: #FBFAF5;
}
.tech-col-middle{
    box-shadow: 1px 2px 5px  #888888;
    font-family: 'Varela Round', sans-serif;
    background-color: #FBFAF5;

}
.tech-col-right{
    box-shadow: 1px 2px 5px   #888888;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-family: 'Varela Round', sans-serif;
    background-color: #FBFAF5;

}

.tech-subtitle{
    color: var(--green1);
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/*========Section 4========*/
.section-4{
    background-color: var(--white2);
}

.my-work-title{
    color: black;
    letter-spacing: 0.2rem;
}

.box{
    border-radius: 1.5rem;
}
.box-content{
    margin-bottom: 2rem;
}

.project-box{
    transform-style: preserve-3d;
}
.box-description{
    font-family: 'Old Standard TT', serif;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0.04rem;
    text-shadow: 1px 1px 2px var(--gray_1);
}

.logo{
    max-height: 164px;
}

.box-ref{
    color: var(--purple_1);
    font-family: 'Old Standard TT', serif;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0.1rem;
}

.is-horizontal-center{
    justify-content: center;
}

/*========Footer========*/
.app-footer{
    background-color: var(--purple_1);
}

.footer-title{
    color: white;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-family: 'Old Standard TT', serif;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 1px 1px 1px black;
    padding-top: 1rem;
}

.footer-content{
    color: var(--white1);
    padding-top: 0.1rem;
    padding-bottom: 1rem;
    font-family: 'Old Standard TT', serif;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0.05rem;
    text-shadow: 0.5px 0.5px black;
}

@media screen and (min-width: 720px){
    .avatar{
        max-width: 20%;
        height: auto;
    }
}

@media screen and (max-width: 720px){
    .avatar{
        max-width: 40%;
        height: auto;
    }
    .tech-col-left{
        box-shadow: 1px 2px 5px   #888888;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
    }
    .tech-col-right{
        box-shadow: 1px 2px 5px   #888888;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 0rem;
    }
}